<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="x-apple-disable-message-reformatting" />
	<title>OPUS</title>
	<link rel="shortcut icon" href="../static/images/common/favicon.ico">
	<link href="../static/css/lib/swiper.css" rel="stylesheet">
	<link href="../static/css/reset.css" rel="stylesheet" />
	<link href="../static/css/common.css" rel="stylesheet" />
	<link href="../static/css/contents.css" rel="stylesheet" />
	<script type="text/javascript" src="../static/js/common.js"></script>
	<script type="text/javascript" src="../static/js/lib/moment.min.js"></script>
	<script type="text/javascript" src="../static/js/lib/daterangepicker.js"></script>
	<script type="text/javascript" src="../static/js/lib/quill.min.js"></script>
	<script type="text/javascript" src="../static/js/lib/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="../static/js/lib/jQuery.dPassword.js"></script>
	<script type="text/javascript" src="../static/js/lib/jquery.easy-autocomplete.js"></script>
	<script type="text/javascript" src="../static/js/lib/semantic.min.js"></script>
	<script type="text/javascript" src="../static/js/ui.js"></script>
	<!--[if lt IE 9]>
    <script type="text/javascript">
        document.createElement("header"); 
        document.createElement("nav"); 
        document.createElement("section"); 
        document.createElement("article"); 
        document.createElement("footer");
    </script>
<![endif]-->
</head>

<body>
	<div class="wrapper">
		<!-- 헤더영역 -->
		<header id="headerWrap">
			<h1>
				<img src="../static/images/common/logo.jpg" alt="OPUS Logistics" />
			</h1>
		</header>
		<!-- //헤더영역 -->

		<script type="text/javascript">
			$(function() {
				var xxx = '<li><a href="#"><span>House B/L 9</span><span>OBK-000468</span></a><button class="tabClose">Close</button></li>';
				$('.fix2').click(function() {
					$(xxx).appendTo('.tabList');
					TablistSort();
				});
			});
		</script>

		<style type="text/css">
			.layer {
				/* display:flex; */
				/* height:calc(100% - 89px); */
			}

			.layer .double {
				/* flex:1; */
				/* display:inline-block; */
				font-size: 0;
				height: 100%;
				background: #ddd;
			}

			.layer .double>.ele {
				display: inline-block;
				font-size: 0;
				min-width: 300px;
				max-width: 500px;
				height: 100%;
			}

			.layer .double>.ele:first-child {
				background: blue;
			}

			.layer .opt {
				/* display:inline-block; */
				width: 300px;
				height: 100%;
				background: #333;
			}

			.fix {
				position: fixed;
				top: 500px;
				left: 100px;
				z-index: 111;
				min-width: 100px;
				text-align: center;
				height: 50px;
				line-height: 50px;
				border: 1px solid #333;
				background: #fff;
				padding: 0 10px;
			}

			.fix2 {
				position: fixed;
				top: 700px;
				left: 100px;
				z-index: 111;
				min-width: 100px;
				text-align: center;
				height: 50px;
				line-height: 50px;
				border: 1px solid #333;
				background: #fff;
				padding: 0 10px;
			}

			.box {
				margin-top: 50px;
				width: 200px;
			}
		</style>


		<div class="fix"></div>
		<div class="fix2"></div>

		<section id="container">
			<div class="inner">
				<nav>
					<div class="menuAll">
						<button class="allBtn">
							<span>Menu</span>
						</button>
					</div>
					<div class="gnb">
						<ul class="gnbList">
							<li>
								<div class="gnbTit">Organization</div>
								<ul class="dept">
									<li>
										<a href="#">Organization List</a>
									</li>
									<li>
										<a href="#">Organization</a>
									</li>
								</ul>
								<button class="clip on"></button>
							</li>
							<li>
								<div class="gnbTit">Warehousing</div>
								<ul class="dept">
									<li>
										<a href="">Subscription List</a>
									</li>
									<li>
										<a href="">Subscription List (Waiting)</a>
									</li>
									<li>
										<a href="">Subscription List (Approved)</a>
									</li>
									<li>
										<a href="">Subscription List (Cancelled)</a>
									</li>
									<li>
										<a href="">Subscription List (Withdraw)</a>
									</li>
								</ul>
								<button class="clip"></button>
							</li>
							<li>
								<div class="gnbTit">Billing</div>
								<ul class="dept">
									<li>
										<a href="">Billing Policy List</a>
									</li>
									<li>
										<a href="">Invoice List</a>
									</li>
									<li>
										<a href="">Invoice List (Waiting)</a>
									</li>
									<li>
										<a href="">Invoice List (Sent)</a>
									</li>
									<li>
										<a href="">Invoice List (Paid)</a>
									</li>
									<li>
										<a href="">Invoice List (Cancelled)</a>
									</li>
									<li>
										<a href="">Scheduler and History</a>
									</li>
								</ul>
								<button class="clip"></button>
							</li>
							<li>
								<div class="gnbTit">Usage</div>
								<ul class="dept">
									<li>
										<a href="">Usage List</a>
									</li>
									<li>
										<a href="">Usage List (Seat)</a>
									</li>
									<li>
										<a href="">Usage List (Transaction)</a>
									</li>
									<li>
										<a href="">Transaction List</a>
									</li>
								</ul>
								<button class="clip"></button>
							</li>
							<li>
								<div class="gnbTit">Service</div>
								<ul class="dept">
									<li>
										<a href="#">Service List</a>
									</li>
									<li>
										<a href="#">Tariff List</a>
									</li>
									<li>
										<a href="">Service Group List</a>
									</li>
								</ul>
								<button class="clip"></button>
							</li>
							<li>
								<div class="gnbTit">Notice</div>
								<ul class="dept">
									<li>
										<a href="#">Notice List</a>
									</li>
								</ul>
								<button class="clip"></button>
							</li>
							<li>
								<div class="gnbTit">Administration</div>
								<ul class="dept">
									<li>
										<a href="#">System Code List</a>
									</li>
									<li>
										<a href="#">Role List</a>
									</li>
									<li>
										<a href="#">Mail Transmit History</a>
									</li>
								</ul>
								<button class="clip"></button>
							</li>
						</ul>
					</div>
				</nav>
				<div class="content">
					<div class="tabWrap">
						<ul class="tabList">
							<li class="home single">
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#" class="on">
									<span>House B/L 1</span>
									<span>OBK-000468</span>
								</a>
								<button class="tabClose">Close</button>
							</li>
							<li>
								<a href="#">
									<span>House B/L 2</span>
									<span>OBK-000468</span>
								</a>
								<button class="tabClose">Close</button>
							</li>
							<li>
								<a href="#">
									<span>House B/L 3</span>
									<span>OBK-000468</span>
								</a>
								<button class="tabClose">Close</button>
							</li>
							<li>
								<a href="#">
									<span>House B/L 4</span>
									<span>OBK-000468</span>
								</a>
								<button class="tabClose">Close</button>
							</li>
						</ul>
						<div class="tabListBox">
							<ul>
							</ul>
						</div>
					</div>

					<style>
						.autoCombo {}

						.autoCombo>.ele {}

						.autoCombo>.ele+.ele {
							margin-top: 10px;
						}
					</style>


					<div class="layer">

						<div class="autoCombo">
							<div class="ele">
								<select class="comboBox">
									<option value="Share">Share</option>
									<option value="ActionScript">ActionScript</option>
									<option value="AppleScript">AppleScript</option>
									<option value="Asp">Asp</option>
									<option value="BASIC">BASIC</option>
									<option value="C">C</option>
								</select>
							</div>
						</div>


						<div class="box">
						</div>



						<script type="text/javascript">
							$(function() {




							});
						</script>


					</div>

				</div>
			</div>
		</section>
	</div>
</body>

</html>