@charset "utf-8";


/* ==============================
 * common
 * ============================== */

.wrapper {height:100%; width:100%;}
#container {position:relative; height:100%; padding-top:56px;}
#container > .inner {display:-webkit-box;display:-ms-flexbox;display:flex; height:100%;}

.content {-webkit-box-flex:1;-ms-flex:1;flex:1; position:relative; height:100%; overflow:auto;}
.content:before {content:''; position:absolute; top:0; left:-1px; height:100%;}


/* login */
.flexWrap{position:relative; display:-webkit-box; display:-ms-flexbox; display:flex; height:100%; -webkit-box-align:center; -ms-flex-align:center; align-items:center;}
.flexWrap:before {content:''; -webkit-box-flex:0; -ms-flex:0; flex:0; text-align:center;}
.flexLayer {display:inline-block; width:560px; margin:0 auto;}
.flexLayer > .inner {border:1px solid #d9d9d9; padding:10px; }
.flexLayer > h1 {text-align:center;}
.flexLayer > h1 + .inner {margin-top:10px; padding:20px 20px; min-height:280px;}

.flexLayer > .inner > .tit {position:relative; font-weight:700; font-size:34px; color:#181818; line-height:40px;}
.flexLayer > .inner > .tit.thumb {padding-left:50px;}
.flexLayer > .inner > .tit.thumb > img {position:absolute; top:0; left:0; max-width:41px; max-height:41px;}
.flexLayer > .inner > .tit + .contGroup {margin-top:25px;}
.flexLayer > .inner > .inpInner {padding:0 50px;}

.inpInner .nTxt {margin-top:20px;}
.inpInner .nTxt + .inpItem {margin-top:20px;}
.inpInner > .itemList1:nth-of-type(1) {margin-top:20px;}

.idArea {margin-top:20px;}
.idArea .inputBox {max-width:none;}
.loginCheck {margin-top:15px;}
.joinBtn {margin-top:25px; overflow:hidden;}
.joinBtn > a {line-height:28px;}
.joinBtn .btns {float:right;}
.link {display:-webkit-box;display:-ms-flexbox;display:flex; margin-top:15px;}
.link > a {-webkit-box-flex:1;-ms-flex:1;flex:1;}
.link > a:nth-child(2) {text-align:center;}
.link > a:nth-child(3) {text-align:right;}

section.contGroup {}
section.contGroup > .tit {padding-bottom:10px; font-weight:600; font-size:18px; color:#181818; border-bottom:1px solid #d9d9d9;}
section.contGroup > .tit + .inpItem {margin-top:20px;}
section.contGroup + section.contGroup {margin-top:20px;}
section.contGroup > .itemList2:nth-of-type(1) {margin-top:20px;}

/* inpItem */
.inpItem {position:relative;}
.inpItem:after {content:''; display:block; clear:both;}
.inpItem + .inpItem {margin-top:15px;}
.inpItem + .txtBox {margin-top:10px;}
.txtBox + .inpItem {margin-top:15px;}
.inpItem > dt {width:210px; float:left; padding:6px 10px 0 0; word-break:break-all;}
.inpItem > dd {padding:0 0 0 210px;font-size:0;}
.inpItem > dd .totalVal {display:inline-block; width:68px; padding:0 24px 0 0; font-size:14px; line-height:28px; text-align:right;}
.inpItem > dd .totalVal + .inputBox {margin-left:7px;}
.inpItem > dd .inputBox.count .inp {text-align:right;}


/* list */
.optionList {}
.optionList > li {}
.optionList > li + li {margin-top:10px;}



/* etc */
.alertMessage {position:relative; padding-left:25px; font-size:14px;}
.alertMessage:before {content:'';  position:absolute; top:2px; left:0; width:15px; height:13px; background:url(../images/common/sprite_common.png) no-repeat -126px -100px;}

.lineBasic {position:relative; height:40px;}
.lineBasic:after {content:''; position:absolute; top:19px; left:0; width:100%; border-bottom:1px solid #d9d9d9;}